.btn {
    border: 2px solid rgba(94, 2, 169, 0.163);
    border-radius: 3px;
    padding: 5px;
    color:blueviolet;
}
.btn.primary {
    color: blue;
    background-color: rgb(151, 197, 228);
}
.btn.danger {
    color:rgb(130, 16, 16);
    background-color: rgb(209, 125, 125);
}