$list-style: none;
$text-decoration: none;
$secondary-text-color: #827a7a;
$danger-color: rgb(153, 9, 9);
$danger-text-color: $danger-color;
$primary-text-color: #393838;
$background-color: #f4f3f3;
$another-background-color: #dcd7d7;
$white_text: #e8e7e7;
$border: 3px solid $danger-color;
$flex: flex;
$margin: 10px;
$box-shadow : 3px 3px 3px #c6c4c4;